services:
  evolution-api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - WEBHOOK_URL=http://bot:8000/webhook
    depends_on:
      - redis
      - postgres
    volumes:
      - evolution_instances:/evolution/instances

  redis:
    image: redis:latest
    container_name: redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - redis:/data
    ports:
      - 6379:6379
  
  postgres:
    container_name: postgres
    image: postgres:15
    command: ["postgres", "-c", "max_connections=1000"]
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=evolution_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432:5432

  bot:
    container_name: bot
    build: 
      context: .
    ports:
      - 8000:8000
    depends_on:
      - evolution-api
      - redis
      - postgres
    restart: always
    volumes:
     - ./app 
     - ./Pdfs:/app/Pdfs
     - ./chroma_data:/app/chroma_data


volumes:
  evolution_instances:
  redis:
  postgres_data: